#container{
   
    
    background-color:lightgray;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 10px;
    grid-template-rows: repeat(10, 50px);

    
 
}

.cell-1{
   
    background-color: dodgerblue;
}

.cell-2{
  
    background-color: orangered;
}

.cell-3{
 
    background-color: wheat;
}

