

:root{
    --color1: #287094;
    --color2: #d4d4ce;
    --color3: #f6f6f6;
    --color4: #023246;
}



body{
   font-family: Arial, Helvetica, sans-serif;
 

}

.calculator{
    
    width: 70%;
    margin: 10%;
    background-color: blue;
    
}

.screen{
    display: block;
    max-width: 100%;
    


}



input[type="text"]{
    
    width: 99.5%;
    height: 3em;
    padding: 0;
    font-size: 2rem;
}

.buttons{
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(4, minmax(1px, 1fr));
    
    
}

.equal-btn{
   grid-row: 4/6 ;
   grid-column: 4/5;
   background-color: var(--color1);
    
}

.grey{
    background-color: var(--color2);
}

.white{
    background-color: var(--color3);
}

.grey:hover{
    background-color: var(--color4);
}

.white:hover{
    background-color: var(--color4);
}


button{
    padding: 1rem;
    border-radius: 5%;  
    font-size: 2rem;
}